<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/post.css">
    <script src="/public/js/post.js"></script>
</head>
<body>
    <div class="post_top">
        <h1 onclick="toHome()">首页</h1>
    </div>
    <hr>
    <div class="post_form">
        <p>你的大名</p>
        <input type="text" placeholder="你的大名">
        <p>留言内容</p>
        <input type="text" placeholder="留言内容">
        <button>发表</button>
    </div>
</body>
</html>